<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Available Lessons</title>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'register_instructor' %}">Register Instructor</a>
    </nav>
    
</head>
<body>
    <header>
        <h1>Available Lessons</h1>
        <nav>
            <a href="{% url 'register_instructor' %}">Register Instructor</a>
            <a href="{% url 'register_client' %}">Register Client</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    </header>
    
    <main>
        {% if lessons %}
            <h2>Available Lessons:</h2>
            <ul>
                {% for lesson in lessons %}
                    <li>
                        {{ lesson.lesson_type }} Lesson in {{ lesson.location }}, {{ lesson.city }} 
                        by {{ lesson.instructor.name }} 
                        <a href="{% url 'book_lesson' lesson.id %}">Book Now</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No lessons available at the moment.</p>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2024 Organization Name</p>
    </footer>
</body>
</html>